body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: aquamarine;
  text-align: center;
}
header {
  margin-bottom: 10px;
  background-color: teal;
  text-align: center;
  color: white;
  padding: 5px;
}
img {
  border-radius: 10px;
  margin: 0  auto;
  width: 50%;
}
select{
border: none;
padding: 5px;
margin-top: 5px;
color: teal;
border-radius: 5px;
}
select:focus{
  outline: none;
}
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
.spinner {
  font-size: 50px;
  text-align: center;
  animation: spin 2s linear infinite;
  display: none;
}
.dog-img {
  display: none;
}
.show {
  display: block;
}
